stages:
        - building
sudo: required
language: generic
dist: xenial
jobs:
  include:
        - stage: building
          env:
              JOB1
          install:
          - sudo apt-get --yes --no-install-recommends install binfmt-support qemu-user-static
            #- sudo locale-gen en_US.UTF-8
            #- export LANGUAGE="en_US.UTF-8"
            #- export LANG="en_US.UTF-8"
            #- export LC_ALL="en_US.UTF-8"
            #- export LC_CTYPE="en_US.UTF-8"
          script:
          - sed -i "/apt-get update/a locale" build-SD-rpi.sh
          - sed -i "/apt-get update/a sudo ls -l /usr/bin/locale" build-SD-rpi.sh
            #- sed -i "/apt-get update/a sudo locale-gen \"en_US.UTF-8\"" build-SD-rpi.sh
            #- sed -i "/apt-get update/a sudo dpkg-reconfigure locales" build-SD-rpi.sh
          - sed -i "s/create_torrent/#create_torrent/" build-SD-rpi.sh
          - sed -i "s/upload_ftp/#upload_ftp/" build-SD-rpi.sh
          - sed -i "/innodb_file_format=barracuda/a open_files_limit=65536" lamp.sh
          - while sleep 9m; do echo "=====[ $SECONDS seconds, still building rpi image... ]====="; done &
          - sudo bash -x ./build-SD-rpi.sh
        -         
          env:
              JOB2
          script:  
          - sudo locale-gen en_US.UTF-8
          - export LANGUAGE="en_US.UTF-8"
          - export LANG="en_US.UTF-8"
          - export LC_ALL="en_US.UTF-8"
          - export LC_CTYPE="en_US.UTF-8"
          - sed -i "s/create_torrent/#create_torrent/" build-SD-armbian.sh
          - sed -i "s/upload_ftp/#upload_ftp/" build-SD-armbian.sh
          - sed -i "/innodb_file_format=barracuda/a open_files_limit=65536" lamp.sh
          - while sleep 9m; do echo "=====[ $SECONDS seconds, still building armbian image... ]====="; done &
          - sudo bash -x ./build-SD-armbian.sh odroidxu4 OdroidHC2
          
notifications:
  email: false
